{% if sshwifty_hostname != "0.0.0.0" %}{{ sshwifty_hostname }}{% endif %}:{{ sshwifty_public_port }} {
  log

  reverse_proxy localhost:{{ sshwifty_internal_port }} {
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote.host}
    header_up X-Forwarded-For {http.request.remote.host}
    header_up X-Forwarded-Port {http.request.port}
    header_up X-Forwarded-Proto {http.request.scheme}
  }
}
