---
# vim: set ts=2 sw=2 et ft=yaml :
version: "3.4"

services:
  sshwifty:
    image: niruix/sshwifty:latest
    restart: always
    ports:
      - "{{sshwifty_internal_port}}:8182"
    environment:
      SSHWIFTY_SHAREDKEY: "{{sshwifty_shared_key}}"
      SSHWIFTY_CONFIG: /etc/sshwifty.conf
    volumes:
      - "{{sshwifty_configuration_directory}}/sshwifty.conf:/etc/sshwifty.conf"

volumes: {}

networks: {}

#
