{
  {# "HostName": "localhost", #}
  "SharedKey": "{{ sshwifty_shared_key }}",
  "DialTimeout": 10,
  "Servers": [
    {
      "ListenInterface": "0.0.0.0",
      "ListenPort": 8182,
      "InitialTimeout": 3,
      "ReadTimeout": 60,
      "WriteTimeout": 60,
      "HeartbeatTimeout": 20,
      "ReadDelay": 10,
      "WriteDelay": 10 {# , #}
      {# "TLSCertificateFile": "", #}
      {# "TLSCertificateKeyFile": "" #}
    }
  ],
  "Presets": [
    {
      "Title": "Gateway",
      "Type": "SSH",
      "Host": "{{ansible_facts.all_ipv4_addresses | ansible.netcommon.ipaddr('192.168.50.0/24') | first }}:22",
      "Meta": {
        "User": "debian",
        "Encoding": "utf-8",
        "Password": "debian",
        "Authentication": "Password" {# , #}
        {# "Private Key": "file:///home/user/.ssh/private_key", #}
        {# "Fingerprint": "SHA256:bgO...." #}
      }
    },
    {
      "Title": "SDF.org Unix Shell",
      "Type": "SSH",
      "Host": "sdf.org:22",
      "Meta": {
        "User": "debian",
        "Encoding": "utf-8",
        "Password": "debian",
        "Authentication": "Password" {# , #}
        {# "Private Key": "file:///home/user/.ssh/private_key", #}
        {# "Fingerprint": "SHA256:bgO...." #}
      }
    }
  ],
  "OnlyAllowPresetRemotes": true
}
